<div>
  <div>
    <h1>Welcome to Robot World!</h1>
  </div>
  
  <div>
    <a class="btn btn-primary btn-lg" role="button" href="/robots/new">Make a new robot</a>
  </div>
  <br/>
  <div>
    <a class="btn btn-primary btn-lg" role="button" href="/robots">List of all Robots</a>
  </div>
  